.node-container{
    position: relative;
    margin: auto ;
    height: 800px;
    width: 800px;
    border: solid grey 5px ;
}

.graph-container{
    height: 100vh ;
    display: flex;
    justify-content: center;
    align-content: center;
}

.button-style{
    position: absolute;
    top: 100px;
    left: 100px;
}